ultralytics
torch
torchvision
torchaudio
fastapi
uvicorn
python-multipart
flask
flask-cors
opencv-python
opencv-python-headless
onnx==1.16.1
onnxruntime
onnxruntime-gpu
tensorflow
transformers
openvino==2024.6.0
pytesseract
symspellpy
pytest
pytest-cov
httpx